.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.hidden {
  display: none !important;
}

#start-menu {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 33%;
  color: white;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.3;
  z-index: 5000;
}

#start-menu > a {
  text-decoration: none;
  color: white;
}

.column {
  width: 33%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: inherit;
  z-index: 5000;
  top: 0;
  position: absolute;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding-top: 15px;
}

.column > div {
  height: 33%;
  width: 100%;
  background-color: none;
  transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -webkit-transition: background-color .1s ease-in-out;
}

.column > div:hover {
  cursor: pointer;
  background-color: rgba(255,255,255, 0.3);

}

.column > div:active {
  background-color: white;
}

body {
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  color: white;
}

#second-canvas {
  left: 0;
  right: 0;
  margin: auto;
}

#fourth-canvas {
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid black;
}

#back {
  color: white;
  text-decoration: none;
  z-index: 5000;
  top: 0;
}

.mute {
  color: white;
  text-decoration: none;
  z-index: 5000;
  top: 0;
  left: 0;
}

#audio {
  display: none;
}

.mute-sound {
  text-decoration: none;
  color: white;
  z-index: 5000;
  top: 0;
}

.start-nav {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.start-nav > a {
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;
}

#start-menu > div {
  padding-top: 10px;
}

#start-menu > h1 {
  margin-bottom: -10px;
}

.strike {
  text-decoration: line-through;
  font-weight: bolder;
}
